*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.video-card{
    cursor: pointer;
    margin-bottom: 0.75rem;
}

.video-card:hover{
    background-color: lightgray;

}

.video-thumbnail{
    width: 100%; 
}

.card-footer-container{
    display: flex;
    padding: 0.5rem;
}

.video-metadata-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.video-author-img-container{
    margin: 1 rem;
}

.video-author-img-container img{
    border-radius: 100%;
}
.dot-v1{
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: grey;
}

aside{
    display: none;
}

header{
    display: none;
}


@media(width>=600px){
    .layout-container{
        display: grid;
        grid-template-columns: 20rem 1fr;
    }
    #root{
        padding: 1 rem;
        display: grid;
        gap: 1 rem;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); 
    }

    aside{
        background-color: gray;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    header{
        background-color: lightgrey;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .search-container{
        display: flex;
        width: 60%;

    }
    .search-container input{
        padding: 0.7rem 1.25rem;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem
    }
}



    
